*{
    --font: 'Roboto', sans-serif;

    box-sizing: border-box;

    font-family: var(--font);
    
    --color-header: #C3CFD9;
    --color-footer: #DFE6ED;
    --color-button: #E8833A;
    --color-selected: #8DD7CF;
    --color-available: #C3CFD9;
    --color-unavailable: #FBE192;
    --color-success: #247A6B;

    --color-fonte: #293845;

    --font-title: 2rem;
    --font-subtitle: 1.4rem;
    --font-p: 1.2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3.5rem;

    font-family: 'Roboto', sans-serif;
    font-size: var(--font-title);

    color: var(--color-button);
    background-color: var(--color-header);
}

body{
    margin: none;
    height: calc(100vh - 3.5rem);
}

.root{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    overflow-y: hidden;
}