main.movies {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

main.movies h2 {
    padding: 1.3rem 0;

    font-size: var(--font-subtitle);
    color: var(--color-fonte);
}

main.movies section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main.movies article {
    padding: 10px;
    margin: 5px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

main.movies img {
    object-fit: cover;
    object-position: center;
    
    width: calc(100vw * 0.28);
    height: calc((100vw * 0.45));
}